[submodule "oc"]
	path = oc
	url = https://github.com/mrbusche/occurrenceCounter
[submodule "fml"]
	path = fml
	url = https://github.com/mrbusche/fmlCalculator
[submodule "pwa"]
	path = pwa
	url = https://github.com/mrbusche/conferencePWA

[submodule "random"]
	path = random
	url = https://github.com/mrbusche/randomOrder
