pre { white-space: pre-wrap; font-family: "Courier New", Courier, monospace; }
body { background: yellow; }
@media only screen and (min-width: 768px) and (max-width: 959px) {
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	body { background: #87CEFA; }//light blue
}

@media only screen and (max-width: 767px) {
	/* All Mobile Sizes (devices and browser) */
	body { background: red; }
	pre { font-family: "Times New Roman", Times, serif; }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	body { background: green; }
}

@media only screen and (max-width: 479px) {
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	body { background: orange; }
	pre { font-family: "Courier New", Courier, monospace; }
}